@model EmployeeSystemERPTaskWeb.Model.DTO.CreateLanguageDTO

@{
    ViewData["Title"] = "Add a new Language";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-lg" style="width: 600px; margin: 0 auto;">
                <h1 class="card-header bg-black text-white text-center">Add a New Language</h1>
                <div class="card-body">
                    <form asp-action="Create" class="mt-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center mt-3">
                            <button type="submit" class="btn btn-success">Create</button>
                            <a class="btn btn-secondary ml-2" asp-action="Index">Show All</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>