@{
    ViewData["Title"] = "Employee System";
}
<link rel="stylesheet" type="text/css" href="~/css/home.css">

<main>
    <section class="hero-section">
        <h1>Unlock Employee Insights with our Information System!</h1>
        <p>Gain a comprehensive view of your workforce using our Employee Information System. Access and manage employee details, roles, performance, and more.</p>
        <div class="animated-text">
            <span>Explore Data</span>
            <span>Enhance Productivity</span>
            <span>Make Informed Decisions</span>
        </div>
    </section>
</main>
